@import '../variables/all';

.button {
    align-items: center;
    background-color: $homelok-blue;
    border-radius: 15px;
    color: $homelok-white;
    display: flex;
    flex-flow: row nowrap;
    height: 38px;

    mat-icon {
        margin-right: 10px;
    }

    span {
        font-weight: 500;
    }
}
