// stylelint-disable declaration-no-important
@import '../variables/all';

$tr-even: #f5f5f5;
$tr-hover: #dddcdc;

mat-card {
    padding: 0 !important;

    mat-card-title {
        display: flex;
        flex-flow: row nowrap;
        font-size: 18px;
        justify-content: flex-start;
        width: 100%;

        .title-container {
            margin-left: 20px;
        }
    }
}

mat-table {
    border: none;
    width: 100%;
}

.mat-row:nth-child(even) {
    background-color: $tr-even;

    &:hover {
        background-color: $tr-hover;
    }
}

.mat-row:nth-child(odd) {
    background-color: transparent;

    &:hover {
        background-color: $tr-hover;
    }
}

.mat-row {
    border-bottom: 1px solid $homelok-light-gray;

    &.selected {
        background-color: $homelok-blue-active-3;
    }

    &:hover {
        background-color: $homelok-blue-active-3;
    }
}

.mat-column-options {
    display: flex;
    flex: 0 0 2%;
    justify-content: center;
    margin-left: 60px;

    tr {
        display: flex;
        justify-content: center;
    }
}

.mat-column-checkbox {
    flex: 0 0 3%;
    margin-right: 30px;
}

mat-paginator {
    .mat-paginator-outer-container {
        .mat-paginator-container {
            justify-content: flex-start !important;
        }
    }

    width: 100%;
}

// Sorter icon (arrow) -----

.mat-sort-header-stem {
    background: $homelok-blue !important;
}

.mat-sort-header-pointer-middle {
    background: $homelok-blue !important;
}

.mat-sort-header-pointer-left {
    background: $homelok-blue !important;
}

.mat-sort-header-pointer-right {
    background: $homelok-blue !important;
}

// -------------------------
