// stylelint-disable declaration-no-important
@import '../../../scss/styles';

.sidebar-container {
    border-right: 1px solid $homelok-gray;
    display: flex;
    flex-flow: column nowrap;
    height: calc(100vh - 70px) !important;
    justify-content: space-between;
    position: fixed;

    .custom-drawer {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: flex-start;

        .add-button-container {
            border-bottom: 1px solid $homelok-light-gray;
            display: flex;
            justify-content: center;

            .big-button {
                justify-content: center;
                padding: 10px;
                width: 100%;
            }

            .small-button {
                button {
                    height: 62px;
                    width: 55px;
                }

                .add-button-icon {
                    height: 62px;
                    width: 55px;
                }
            }
        }

        > div {
            .menu-items {
                .menu-item {
                    &.end-group-item {
                        border-bottom: 1px solid $homelok-white;
                    }

                    &.active {
                        background-color: $homelok-blue-active-1;
                        border-right: 3.5px solid $homelok-blue;

                        mat-icon {
                            color: $homelok-blue;
                        }
                    }

                    mat-icon {
                        color: $homelok-gray;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 500;
                        margin-left: 20px;
                    }
                }
            }
        }

        .footer-container {
            align-items: flex-end;
            display: flex;
            height: 100%;
            justify-content: center;

            .footer {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 100%;

                button {
                    background-color: transparent;
                    border: none;

                    &:hover {
                        cursor: pointer;
                    }
                }

                mat-icon {
                    color: $homelok-gray;
                    margin-right: 15px;
                }

                .help-text {
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 15px;
                }
            }
        }
    }
}
