<div class="sidebar-container" [@onSidebarChange]="sidebarState ? 'open' : 'close'">
  <div class="custom-drawer">

    <div class="add-button-container">
      <div class="small-button">
        <button
          mat-icon-button
          [@onSidebarChange]="!sidebarState ? 'show' : 'hide'"
          data-cy="add-button-small-icon"
        >
          <mat-icon svgIcon="add_button" class="add-button-icon"></mat-icon>
        </button>
      </div>

      <div class="big-button" [@onSidebarChange]="sidebarState ? 'show-flex' : 'hide'">
        <button class="button"
                mat-button
                data-cy="add-button-big-icon"
        >
          <mat-icon>home</mat-icon>
          <span>{{'NEW' | translate}}</span>
        </button>
      </div>
    </div>

    <div>
      <mat-nav-list class="menu-items">
        <a mat-list-item
           class="menu-item"
           *ngFor="let item of menuItems"
           routerLinkActive="active"
           [routerLink]="item.route"
           [ngClass]="{'end-group-item': item.endGroup}"
        >
          <mat-icon [svgIcon]="item.icon"></mat-icon>
          <span [@animateText]="linkedText ? 'show' : 'hide'">{{ item.title | translate }} </span>
        </a>
      </mat-nav-list>
    </div>

    <div class="footer-container">
      <div class="footer" [ngStyle]="!linkedText ? {'justify-content': 'center'} : ''">
        <button [@animateText]="linkedText ? 'show' : 'hide'">
          <mat-icon svgIcon="help" homelokIconSize="18"></mat-icon>
        </button>

        <span class="help-text" [@animateText]="linkedText ? 'show' : 'hide'">Help</span>

        <button mat-icon-button (click)="onSidebarToggle()" data-cy="toggleSidebarButton">
          <mat-icon *ngIf="sidebarState">keyboard_arrow_left</mat-icon>
          <mat-icon *ngIf="!sidebarState">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

