<div class="homelok-container">
  <div class="homelok-navbar">
    <homelok-navbar></homelok-navbar>
  </div>
  <div class="homelok-wrapper">
    <div class="homelok-sidebar">
      <homelok-sidebar></homelok-sidebar>
    </div>
    <div class="homelok-content" [@onMainContentChange]="onSidebarChange ? 'open' : 'close'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
