.homelok-container {
    // Flexbox
    display: flex;
    flex-flow: row wrap;
}

.homelok-navbar {
    height: 70px;
    width: 100%;
}

.homelok-sidebar {
    max-width: 200px;
    min-width: 50px;
}

.homelok-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    .homelok-content {
        height: 100%;
        padding: 20px;
        width: 100%;
    }
}
