// stylelint-disable declaration-no-important
@import '../../../scss/styles';

.navbar {
    align-items: center;
    background-color: $homelok-blue;
    border: none;
    display: flex;
    flex-flow: row nowrap;
    height: 70px;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .user-logo > mat-icon {
        height: 36px;
        margin: 0 50px 0 20px;
        width: 36px;
    }

    .building-selector {
        margin-right: 30px;
    }

    .search-bar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

.mat-form-field-underline {
    > span {
        display: none;
    }

    display: none !important;

    &::after,
    &::before {
        display: none !important;
    }
}
