<!-- TODO: LOADING WHEN FETCHING DATA -->
<mat-card class="mat-elevation-z3">

  <mat-card-title *ngIf="title">
    <div class="title-container">
      {{title}}
    </div>
  </mat-card-title>

  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort matSortDisableClear>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox" *ngIf="checkbox" class="mat-column-checkbox">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="display_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'TR_COMMON_NAME' | translate | uppercase}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!--    SE PUEDE MOSTRAR EL NOMBRE SIN TEMPLATE      -->
          <ng-container *ngTemplateOutlet="displayName"></ng-container>
          <ng-template #displayName>{{ element.getDisplayName() }}</ng-template>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns"
               (click)="selection.toggle(row)"
               [ngClass]="{'active': selectedRow === row}">
      </mat-row>
    </mat-table>
    <mat-paginator></mat-paginator>
  </mat-card-content>
</mat-card>

<!--      TODO: MAPEO DE COLUMNAS -->
<!--      <div *ngFor="let header of columnHeaders; let i = index">-->
<!--  Muy importante, en los tableHeaders añadir SIEMPRE el header 'select'  -->
<!--        <ng-container [matColumnDef]="header" *ngIf="header !== 'select' && header !== 'options'">-->
<!--        <ng-container [matColumnDef]="header">-->
<!--          <mat-header-cell *matHeaderCellDef>{{header | uppercase}}</mat-header-cell>-->
<!--          <mat-cell *matCellDef="let row">{{row[header]}}</mat-cell>-->
<!--        </ng-container>-->
<!--      </div>-->

<!--      TODO: HEADER Y ROWS -->
<!-- Para fijar el header al hacer el scroll -->
<!--  <mat-header-row *matHeaderRowDef="tableHeaders; sticky: true" ></mat-header-row>-->

<!--      <mat-header-row *matHeaderRowDef="columnHeaders"></mat-header-row>-->
<!--      <mat-row *matRowDef="let row; columns: columnHeaders"-->
<!--               (click)="selection.toggle(row)">-->
<!--&lt;!&ndash;               [ngClass]="{'selected' : selection.isSelected(row)}">&ndash;&gt;-->
<!--      </mat-row>-->
<!--    </mat-table>-->
<!--    <mat-paginator></mat-paginator>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->


