$homelok-blue: #0088ce;
$homelok-gray: #b3bac2;
$homelok-light-gray: #d8d8d8;
$homelok-white : #ffffff;
/* stylelint-disable */
$homelok-blue-active-1: rgba(0, 136, 206, 0.1);
$homelok-blue-active-3: rgba(0.0, 136, 206, 0.3);
/* stylelint-enable */
